/* COLOR VARIABLES */
$background: #333;
$main-color: #FEFEFE;
$second-color: red;
$highlight: blue;

/* FONTS VARIABLES */
$main-font: sans-serif;

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none
}

li {display: inline-block;}

/* BODY */
body {
    background-color: $background;
    color: $main-color;
    font-family: $main-font;
}