<footer>
    <div class="description">
        <h4>The Most Beautiful Cat</h4>
        <p>This website is an ode to love for my cat Kuro, the most beautiful cat.<br>
            The entire content of this website is completely subjective and is my own responsibility, even though I’m
            conviced that everyone shares my opinion of Kuro, the most beautiful cat.</p>
    </div>
    <div class="line"></div>
    <p class="copyrights">Elodie Duval | Ⓒ 2023 Kuro: The Most Beautiful Cat</p>
</footer>