/* COLOR VARIABLES */
/* FONTS VARIABLES */
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

/* BODY */
body {
  background-color: #56494C;
  color: #C2D3CD;
  font-family: sans-serif;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
header ul {
  display: flex;
  gap: 30px;
}

.pasmain .hero {
  background-image: url(/Kuro/Carousel1.jpg);
  background-size: cover;
  text-align: center;
  color: #56494C;
  font-size: 3rem;
  height: 30rem;
  text-shadow: 1px 1px 2px #C2D3CD;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  /* .hero {
      background-image: url(/Kuro/Carousel1.jpg);
      background-size: cover;
      text-align: center;
      color: $highlight;
      font-size: 3rem;
      height: 20rem;
  } */
}
main .cat-right, main .cat-left {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
main .cat-right img, main .cat-left img {
  max-width: 600px;
}
main .cat-center {
  display: flex;
  gap: 30px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
}
main .cat-center img {
  max-width: 80%;
}

footer {
  max-width: 900px;
  margin: 0 auto;
}
footer .description {
  padding: 20px;
}
footer .line {
  height: 1px;
  background-color: #C2D3CD;
}
footer .copyrights {
  padding: 20px;
  text-align: right;
}