/* COLOR VARIABLES */
/* FONTS VARIABLES */
/* BREAKPOINTS */
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

/* BODY */
body {
  background-color: #56494C;
  color: #C2D3CD;
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.maxheader {
  position: fixed;
  top: 0;
  background-color: #56494C;
  width: 100%;
  z-index: 10;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header .logo svg {
  fill: #C2D3CD;
  width: 30px;
}
header nav {
  position: absolute;
  right: -100vh;
  transition: right 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media (min-width: 768px) {
  header nav {
    display: initial;
    position: static;
  }
}
header nav ul {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
@media (min-width: 768px) {
  header nav ul {
    flex-direction: row;
    align-items: center;
  }
}
header nav ul li a {
  display: flex;
  align-items: center;
  gap: 3px;
}
header nav ul li a svg {
  width: 1rem;
  height: 1rem;
  fill: #C2D3CD;
}
header nav ul li a svg .st0 {
  fill: #56494C;
}
header nav ul li a svg .st99 {
  fill: #C2D3CD;
}
header #toggle:checked ~ nav {
  right: 0;
  top: 0;
  background-color: #847E89;
  padding: 100px 50px 50px;
  text-align: right;
  width: 70vw;
  height: 100vh;
}
header #toggle {
  display: none;
}
header label {
  position: relative;
  z-index: 99;
  cursor: pointer;
}
header .burger {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 768px) {
  header .burger {
    display: none;
  }
}
header .burger .slice {
  background-color: #C2D3CD;
  width: 40px;
  height: 2px;
}

.contact-intro {
  padding: 2rem 0;
}

.message {
  display: flex;
  padding: 2rem 0;
  background-color: #AFBFC0;
  color: #56494C;
}
.message .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1.5rem;
}
.message .container form {
  display: flex;
  flex-direction: column;
}
.message .container form label {
  font-size: 1rem;
}
.message .container form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 0.3rem;
}
.message .container form textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
}
.message .container form .submit {
  background-color: #56494C;
  border: none;
  width: fit-content;
  padding: 5px 10px;
  margin-bottom: 0;
  align-self: flex-end;
  font-family: inherit;
  color: #C2D3CD;
}

.your-messages {
  padding: 2rem 0;
  background-color: #9FA4A9;
  color: #56494C;
}
.your-messages h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.your-messages .swiper {
  width: 100%;
  height: 300px;
}
.your-messages .swiper .swiper-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 80%;
}
.your-messages .swiper .swiper-wrapper .swiper-slide {
  border: 2px solid #56494C;
  padding: 1rem;
  background-color: #C2D3CD;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.your-messages .swiper .swiper-wrapper .swiper-slide .subject {
  font-weight: bold;
}
.your-messages .swiper .swiper-wrapper .swiper-slide .message {
  background-color: #C2D3CD;
}
.your-messages .swiper .swiper-wrapper .swiper-slide .name {
  font-style: italic;
  text-align: right;
}
.your-messages .swiper .swiper-button-prev, .your-messages .swiper .swiper-button-next {
  color: #56494C;
}
.your-messages .swiper .swiper-button-prev:hover, .your-messages .swiper .swiper-button-next:hover {
  color: #C2D3CD;
}
.your-messages .swiper .swiper-pagination-bullet {
  background-color: #56494C;
}

.cat-intro {
  margin-top: 66px;
  text-align: center;
  font-size: 1rem;
}
.cat-intro h1 {
  text-align: center;
  padding: 2rem;
}
.cat-intro .swiper {
  width: 100%;
}
.cat-intro .swiper img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.cat-intro .swiper .swiper-button-prev, .cat-intro .swiper .swiper-button-next {
  color: #56494C;
}
.cat-intro .swiper .swiper-button-prev:hover, .cat-intro .swiper .swiper-button-next:hover {
  color: #C2D3CD;
}
.cat-intro .swiper .swiper-pagination-bullet-active, .cat-intro .swiper .swiper-pagination-bullet:hover {
  background-color: #C2D3CD;
}
.cat-intro .swiper .swiper-pagination-bullet {
  background-color: #9FA4A9;
}

main .first-section,
main .third-section {
  background-color: #AFBFC0;
  color: #56494C;
}
main .second-section {
  background-color: #9FA4A9;
  color: #56494C;
}
main .container .cat-right, main .container .cat-left {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  justify-items: center;
  padding: 20px;
  text-align: center;
}
main .container .cat-right img, main .container .cat-left img {
  max-width: 600px;
}
@media (min-width: 768px) {
  main .container .cat-right, main .container .cat-left {
    grid-template-columns: 1fr 1fr;
    text-align: left;
    align-items: center;
  }
}
main .container .cat-right img {
  order: 1;
}
@media (min-width: 768px) {
  main .container .cat-right img {
    order: -1;
  }
}
@media (min-width: 768px) {
  main .container .cat-left {
    text-align: right;
  }
}
main .container .cat-center {
  display: flex;
  gap: 30px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
}
main .container .cat-center img {
  max-width: 1000px;
}

footer {
  max-width: 900px;
  margin: 0 auto;
}
footer .description {
  padding: 50px 20px;
}
footer .line {
  height: 1px;
  background-color: #C2D3CD;
}
footer .copyrights {
  padding: 20px;
  text-align: right;
}