.cat-intro {
    margin-top: 66px;
    // padding: 1rem 0;
    text-align: center;
    font-size: 1rem;
    

    h1 {
            text-align: center;
            padding: 2rem;
        }
    
    .swiper {
        width: 100%;

        img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .swiper-button-prev, .swiper-button-next {
            color: $fifth-color;
        }
        .swiper-button-prev:hover, .swiper-button-next:hover {
            color: $first-color;
        }

        .swiper-pagination-bullet-active, .swiper-pagination-bullet:hover {
            background-color: $first-color;
        }
        .swiper-pagination-bullet {
            background-color: $third-color;
        }

    }
}

main {
    .first-section,
    .third-section {
        background-color: $second-color;
        color: $fifth-color;
    }

    .second-section {
        background-color: $third-color;
        color: $fifth-color;
    }

    .container {

        .cat-right, .cat-left {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;
            justify-items: center;
            padding: 20px;
            img {max-width: 600px;}
            text-align: center;
            @media (min-width: $breakpoint-tablet) {
                grid-template-columns: 1fr 1fr;
                text-align: left;
                align-items: center;
            }
        }

        .cat-right img {
            order: 1;
            @media (min-width: $breakpoint-tablet) {
                order: -1;
            }
        }

        .cat-left {
            @media (min-width: $breakpoint-tablet) {
                text-align: right;
            }
        }

        .cat-center {
            display: flex;
            gap: 30px;
            flex-direction: column;
            text-align: center;
            align-items: center;
            padding: 20px;
            img {max-width: 1000px;}
        }
    }
}
