<%- include('partials/header') %>

  <main>
    <section class="cat-intro">
        <h1>About Kuro</h1>
        <p>Here is everything you need to know about Kuro, the most beautiful cat.</p>
    </section>
    <section>
        <!--Picture of Kuro-->
    </section>
    <section>
        <!--ID card: date of birth, sex, race, etc.-->
    </section>
    <section>
        <!--Preferences : food, toys, places to sleep-->
    </section>
  </main>
  
  <%- include('partials/footer') %>

  <script src="script.js"></script>

</body>
</html>