<%- include('partials/header') %>

	<section class="cat-intro">
		<h1>The Most Beautiful Cat</h1>
		<div class="swiper swiper-intro">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><img src="Kuro/Carousel1.jpg" alt="Kuro"></div>
				<div class="swiper-slide"><img src="Kuro/Carousel2.jpg" alt="Kuro"></div>
				<div class="swiper-slide"><img src="Kuro/Carousel3.jpg" alt="Kuro"></div>
			</div>
			<div class="swiper-pagination"></div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</section>

	<main>

		<div class="first-section">
			<div class="container">
				<section class="cat-right">
					<img src="Kuro/Carré3.jpg" alt="Kuro">
					<div>
						<h2>Discover Kuro</h2>
						<p>Go around this website to learn more about Kuro,<br>
							the most beautiful cat you’ve ever seen!</p>
					</div>
				</section>
			</div>
		</div>
		
		<div class="second-section">
			<div class="container">
				<section class="cat-left">
					<div>
						<h2>Pictures of Kuro</h2>
						<p>There are a lot of pictures of Kuro, the most beautiful cat, here.<br>
							Don’t hesitate to post a comment and leave a like!</p>
					</div>
					<img src="Kuro/Carré2.jpg" alt="Kuro">
				</section>
			</div>
		</div>
		
		<div class="third-section">
			<div class="container">
				<section class="cat-center">
					<div>
						<h2>Leave a message to Kuro</h2>
						<p>Want to share your love with Kuro, the most beautiful cat?<br>
							No problem, you can leave him a message, and even share your own cat love with Kuro, the most beautiful cat!
						</p>
					</div>
					<img src="/Kuro/Rectange4.jpg" alt="Kuro">
				</section>
			</div>
		</div>
		
	</main>

	<%- include('partials/footer') %>

	<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
	<script src="script.js"></script>

</body>
</html>