<%- include('partials/header') %>

  <main>
    <section class="cat-intro">
        <h1>Portfolio</h1>
        <p>So many pictures of Kuro, the most beautiful cat.<br>
        Leave a like and post a comment under your favorite picture of Kuro, the most beautiful cat</p>
    </section>
    <section>
        <!--Display of 6 pictures with title, description and counter for likes and comments-->
    </section>
  </main>

  <%- include('partials/footer') %>

      <script src="script.js"></script>

</body>
</html>